
body {
    margin: 0;
    background-color: #222629;
    color: white;
}

.header {
    background-color: #474B4F;
    height: 80px;


	
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;


}

#nav-bar a {
    padding-right: 25px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: white;
}

#features {
    display: flex;
    flex-direction: column;
}


#video-div {
    display: flex;
    justify-content: center;
    padding: 20px;
}



.vid-txt-1 {
    
}

#banner-container {
    position: relative;
    text-align: center;
    color: white;
}




.banner-img {
    filter: brightness(50%);
    background: url("https://cdn.pixabay.com/photo/2017/02/03/22/38/pocket-watch-2036304_1280.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    /*height: 700px;*/
    height: 85vh;
}

.banner-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: Copperplate;
    color: white;
    filter: brightness(100%);
}

/* #222629, #61892F */

.feature-element {
    background-image: linear-gradient(#222629, #61892F );
    margin: 10px 25px 10px 25px;
    border-radius: 5px;
    padding: 20px;
    border-color: black;
    border-style: inset;

}

#pricing {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 20px;
    background-color: black;
    
}

/*
@media (min-width: 50em) {
    .watch-models {
    }
}
*/


form {
    display: block;
    background-color: #474B4F;
    padding: 20px;
}

img {
    width: 100%;
    margin: 0 auto;
}

.email-div {
    display: flex;
    justify-content: center;
    
}

.email-div input {
    padding: 8px
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

