
body {
    margin: 0;
    background-color: #222629;
    color: white;
}

.header {
    background-color: #474B4F;
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

a {
    color: white;
}

.features {
    display: flex;
    flex-direction: column;
}




#banner-container {
    position: relative;
    text-align: center;
    color: white;
    
    
}




.banner-img {
    filter: brightness(50%);
    background: url("https://cdn.pixabay.com/photo/2017/02/03/22/38/pocket-watch-2036304_1280.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

.banner-text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: Copperplate;
    color: white;
    filter: brightness(100%);
}

/* #222629, #61892F */

.feature-element {
    background-image: linear-gradient(#222629, #61892F );
    margin: 10px 25px 10px 25px;
    border-radius: 5px;
    padding: 20px;
    border-color: black;
    border-style: inset;

}

.watch-models {
    background-color: black;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #474B4F;
    padding: 20px;
}

.email-div {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}